<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spreadsheet Extractor | <%= title %></title>
  <!-- CSS file here -->
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
