<nav>
    <div class="site-title">
        <a href="/"><h1>Spreadsheet Extractor</h1></a>
        <p>Spreadsheet Extractor web app project for Kumon Ashburton</p>
    </div>
    <ul>
        <li><a href="/upload">Upload Page</a></li>
        <li><a href="/manual">Manual Input</a></li>
        <li><a href="/students">All Students</a></li>
    </ul>
  </nav>