<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container-fluid">
      <h2>Hello, this is index page.</h2>
    </div>
  </body>
</html>
