<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container-fluid">
      <h2>Welcome to Spreadsheet Extractor</h2>
      <a href="/logout" class="btn btn-success">Log Out</a>
    </div>
  </body>
</html>
