<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %> 
        <form action="" method="POST">
            <label for="sName">Student Name: </label>
            <input type="text" name="sName" value="" />

            <label for="subject">Subject: </label>
            <input type="text" name="subject" value="" />

            <label for="month">Month: </label>
            <input type="text" name="month" value="" />

            <input type="submit" />

        </form>
        <script src="" async defer></script>
    </body>
</html>